@{
    ViewData["Title"] = "Erro";
}

<div class="text-center">
    <h1 class="display-4">Ops! Algo deu errado</h1>
    <p class="lead">Ocorreu um erro ao processar sua requisição.</p>
    <a href="/" class="btn btn-primary">Voltar ao Início</a>
</div>

